@model IEnumerable<lab14.Models.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Browse</title>
</head>
<body>
    <div>
        <h1>Список пользователей</h1>
        <table>
            <tr class="header"><td><p>User</p></td></tr>
            @foreach (lab14.Models.User u in Model)
            {
                <tr>
                    <td><p>@u.firstName</p></td>
                    <td><p>@u.lastName</p></td>
                    <td><p>@u.middleName</p></td>
                    <td><p>@u.Bday</p></td>
                    <td><p>@u.phone</p></td>
                </tr>
            }
        </table>

    </div>
    <p>@Html.ActionLink("Go back", "Index")</p>
</body>
</html>
